@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-nature-dark text-white font-sans;
  }
}

.timeline-container {
  position: relative;
  padding-left: 2rem;
}

.timeline-container::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0.5rem;
  width: 2px;
  background-color: #4d8a4c;
}
